<div id="container" *ngIf="isData">
  <section id="paymentList">
    <section id="buttonContainer">
      <button id="newPayment" (click)="changeContainer()">
        {{ textoBTrans }}
      </button>
    </section>
    <section id="listContainer">
      <ul id="paymentsList" *ngIf="showList">
        <li
          class="paymentItem"
          [ngClass]="{ expandTransfer: clickedIndex === i }"
          *ngFor="let p of user.payments; let i = index"
          (click)="expandPayment(i)"
        >
          <p class="date">{{ p.date }}</p>

          
          <h4 class="description">{{ p.description }}</h4>
          <p class="amount">{{ user.preferredCurrency }}: {{ p.amount }}</p>
          <p class="category" *ngIf="clickedIndex === i">{{ p.category }}</p>
          <p class="comment" *ngIf="clickedIndex === i">{{ p.comment }}</p>
          <p class="dateT" *ngIf="clickedIndex === i">Fecha:</p>
          <p class="categoryT" *ngIf="clickedIndex === i">Category:</p>
          <p class="commentT" *ngIf="clickedIndex === i">Comment:</p>
          <section id="buttons">
            <button *ngIf="clickedIndex === i" (click)="editPayment(i)" class="btnEdit"><img src="./../../assets/icons/9edit.png"></button>
            <button *ngIf="clickedIndex === i" (click)="deletePayment(p)" class="btnDelete"><img src="./../../assets/icons/10done.png"></button>
          </section>
        </li>
      </ul>
      <form
        id="paymentForm"
        #paymentForm="ngForm"
        (ngSubmit)="addPayment()"
        *ngIf="showForm"
      >
        <label for="description">Description:</label>
        <input
          type="text"
          id="description"
          [(ngModel)]="payDescp"
          name="description"
          required
        />
        <label for="amount">Amount:</label>
        <input
          type="number"
          name="amount"
          id="amount"
          [(ngModel)]="payAmount"
          name="amount"
          required
        />
        <label for="date">Date:</label>
        <input
          type="date"
          id="date"
          [(ngModel)]="date"
          name="date"
          required
        />
        <label for="category">Category:</label>
        <select name="category" id="category" [(ngModel)]="payCat">
          <option value="Market">Market</option>
          <option value="Services">Services</option>
          <option value="Shopping">Shopping</option>
          <option value="Transport">Transport</option>
          <option value="Gastronomy">Gastronomy</option>
          <option value="Tourism">Tourism</option>
          <option value="Others" selected>Others</option>
        </select>
        <label for="participant">Receiver</label>
        <input
          type="text"
          id="participant"
          [(ngModel)]="payParticipant"
          name="participant"
        />
        <label for="comment">Comments:</label>
        <input type="text" id="comment" [(ngModel)]="payComm" name="comment" />
        <label for="recurrent">Recurrent:</label>
        <select
          name="recurrent"
          id="recurrent"
          [(ngModel)]="payRecurrent"
          required
        >
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
        <button type="submit" id="addPayment">Add</button>
      </form>
      <form
        id="editPaymentForm"
        #paymentForm="ngForm"
        *ngIf="showEdit"
      >
        <label for="description">Description:</label>
        <input
          type="text"
          id="description"
          [(ngModel)]="editPayDescp"
          name="description"
          required
        />
        <label for="amount">Amount:</label>
        <input
          type="number"
          name="amount"
          id="amount"
          [(ngModel)]="editPayAmount"
          name="amount"
          required
        />
        <label for="date">Date:</label>
        <input
          type="date"
          id="date"
          [(ngModel)]="editDate"
          name="date"
          required
        />
        <label for="category">Category:</label>
        <select name="category" id="category" [(ngModel)]="editPayCat">
          <option value="Market">Market</option>
          <option value="Services">Services</option>
          <option value="Shopping">Shopping</option>
          <option value="Transport">Transport</option>
          <option value="Gastronomy">Gastronomy</option>
          <option value="Tourism">Tourism</option>
          <option value="Others" selected>Others</option>
        </select>
        <label for="participant">Receiver</label>
        <input
          type="text"
          id="participant"
          [(ngModel)]="editPayParticipant"
          name="participant"
        />
        <label for="comment">Comments:</label>
        <input type="text" id="comment" [(ngModel)]="editPayComm" name="comment" />
        <label for="recurrent">Recurrent:</label>
        <select
          name="recurrent"
          id="recurrent"
          [(ngModel)]="editPayRecurrent"
          required
        >
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
        <section id="buttons">
          <button (click)="notSaveChanges()" class="btnEdit"><img src="./../../assets/icons/7delete.png"></button>
          <button (click)="saveChanges()" class="btnDelete"><img src="./../../assets/icons/10done.png"></button>
        </section>
      </form>
    </section>
  </section>
</div>
