
*{
    color: #fff;
}

#container {
    position: absolute;
    height: 45vw;
    width: 40vw;
    background-color: #141414;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#buttonContainer{
    display: flex;
    justify-content:space-around;
    height: 2.5vw;
}

#newPayment{
    background-color: #141414;
    color: #86c232;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
      
  }
  
#newPayment:hover{
    font-size: 0.95rem;
    padding-top: 0.525rem;
    padding-bottom: 0.525rem;
  }

#newPayment:active{
    background-color: #1d1d1d;  
}

#listContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    max-height: 42.5vw;
    
}

#paymentsList{
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    padding: 0rem;
    width: 100%;
    border-top: 1px solid #fff;
    margin: 0rem;

}

#listContainer::-webkit-scrollbar{
    background: #141414;
    width: 0.5rem;
    border-radius: 3px;
  }
  
#listContainer::-webkit-scrollbar-thumb{
    appearance: none;
    background-color: #86c232;
    border-radius: 3px;
  }

.paymentItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #fff;
    width: 100%;
}

.paymentItem p {
    width: 20%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.paymentItem h4 {
    width: 20%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.paymentItem:hover {
    background-color: #1d1d1d;
}

.expandTransfer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.expandTransfer .description {
    order: 0;
    font-size: 1.25rem;
    font-weight: bold;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.expandTransfer .date {
    order: 1;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.expandTransfer .amount {
    order: 5;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.expandTransfer .category {
    order: 2;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.expandTransfer .comment {
    order: 3;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.expandTransfer .dateT {
    order: 0;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.expandTransfer .categoryT {
    order: 1;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.expandTransfer .commentT {
    order: 2;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.btnDelete{
    order: 6;
    background-color: transparent;
    border: none;
    margin-left: 0.75rem;
    padding: 0;
    width: 2rem;
    height: 2rem;

}

.btnDelete:active {
    transform: scale(.95);
}

.btnEdit{
    order: 6;
    background-color: transparent;
    border: none;
    margin-right: 0.75rem;
    padding: 0;
    width: 2rem;
    height: 2rem;
}

.btnEdit:active {
    transform: scale(.95);
}

.btnDelete img {
    height: 100%;
}

.btnEdit img {
    height: 100%;
}

.ocultTransfer {
    display: none;
}

#buttons {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.expandTransfer #buttons {
    order: 6;
}

form{
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #fff;
    padding-top: 0.5rem;
  }
  
  form input{
    text-align: center;
    background-color: #141414;
    border-radius: 1rem;
    color: #fff;
    width: 80%;
    border: solid;
    border-width: 1px;
    border-color: #fff;
    margin: 0.5rem;
    outline: none;
    padding: 0.5rem;
  }

  form input:hover {
        transform: scale(101%);
    }

    form input:focus {
        border-color: #86c232;
    }
  
    form select{
    background-color: #141414;
    border-radius: 1rem;
    color: #fff;
    appearance: none;
    text-align: center;
    box-shadow: none;
    width: 82%;
    border: solid;
    border-width: 1px;
    border-color: #fff;
    margin: 0.5rem;
    outline: none;
    padding: 0.5rem;
  }

  form select:hover {
    transform: scale(101%);
}

form select:focus {
    border-color: #86c232;
}

  #addPayment{
    background-color: #141414;
    color: #86c232;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top: 1px solid #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
      
  }
  
  #addPayment:hover{
    font-size: 0.95rem;
    padding-top: 0.525rem;
    padding-bottom: 0.525rem;
  }
  
  #addPayment:active{
    background-color: #1d1d1d;
  }


