#container {
    position: absolute;
    height: 45vw;
    width: 40vw;
    background-color: #141414;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

#container::-webkit-scrollbar{
    background: #141414;
    width: 0.5rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;

  }
  
#container::-webkit-scrollbar-thumb{
    appearance: none;
    background-color: #fff;
    border-radius: 2rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }

.data {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.data label {
    width: 10rem;
}

.data input {
    text-align: center;
    background-color: #141414;
    width: 15rem;
    box-shadow: none;
    color: #fff;
    border-radius: 1rem;
    border: 1px solid #fff;
    padding: 0.5rem;
}

.data input:hover {
    transform: scale(101%);
}

.data input:focus {
    border-color: #86c232;
    outline: none;
}

.data input::placeholder {
    text-align: center;
}

.optionInput {
    background-color: #141414;
    border-radius: 0.4rem;
    border-color: #fff;
    border-width: 0.1rem;
}

hr {
    width: 95%;
    border-radius: 2rem;
    border-width: 0.1rem;
    background-color: #141414;
    color: #141414;
    border-color: #86c232;
    box-shadow: 0 0 0 0rem;
}

button {
    border-radius: 3rem;
    box-shadow: 0 1px 1px;
    border: 1px solid #86c232;
    background: #86c232;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    
}

#ButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button:active {
    transform: scale(.95);
}

.data select {
    appearance: none;
    background-color: #141414;
    text-align: center;
    width: 16rem;
    box-shadow: none;
    color: #fff;
    border-radius: 1rem;
    border: 1px solid #fff;
    padding: 0.5rem;
}

.data select:hover {
    transform: scale(101%);
}

.data select:focus {
    border-color: #86c232;
    outline: none;
}

select::-ms-expand {
    display: none;
}