#container {
    position: absolute;
    height: 45vw;
    width: 40vw;
    background-color: #272927;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

#container::-webkit-scrollbar{
    background: #272927;
    width: 0.5rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;

  }
  
#container::-webkit-scrollbar-thumb{
    appearance: none;
    background-color: #667972;
    border-radius: 2rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }

.data {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #d0d7d0;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    padding-top: 2.7rem;
    padding-bottom: 2.7rem;
}

.data label {
    width: 10rem;
}

.data input {
    text-align: center;
    width: 15rem;
    box-shadow: none;
    color: #d0d7d0;
    font-weight: bold;
    border-radius: 1rem;
    border: 1px solid #667972;
}

.data input::placeholder {
    text-align: center;
}

input:focus {
    outline: none;
}

.optionInput {
    background-color: #272927;
    border-radius: 0.4rem;
    border-color: #464646;
    border-width: 0.1rem;
}

hr {
    width: 95%;
    border-radius: 2rem;
    border-width: 0.1rem;
    background-color: #2f312f;
    border-color: #2f312f;
    box-shadow: 0 0 0 0rem;
}

button {
    width: 25%;
    height: 3rem;
    border-radius: 50px;
    margin-top: 2rem;
    background-color: #667972;
    border: none;
    align-items: center;
    color: black;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease;
    
}

#ButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button:hover {
    background-color: #465a65;
}

.data select {
    appearance: none;
    text-align: center;
    width: 15rem;
    box-shadow: none;
    color: #d0d7d0;
    font-weight: bold;
    border-radius: 1rem;
    border: 1px solid #667972;
}

select:focus {
    outline: none;
}

select:hover {
    caret-color: #667972;
}

select::-ms-expand {
    display: none;
}