<div id="container" *ngIf="isData">
    <div class="data">
        <label class="option">Name:</label>
        <input class="optionInput" type="text" [placeholder]="user.name" [(ngModel)]="changeName">
    </div>
    <hr>
    <div class="data">
        <label class="option">E-mail:</label>
        <input class="optionInput" type="text" [placeholder]="user.email" [(ngModel)]="changeEmail">
    </div>
    <hr>
    <div class="data">
        <label class="option">Password:</label>
        <input class="optionInput" type="password" [placeholder]="userPassword" [(ngModel)]="changePassword">
    </div>
    <hr>
    <div class="data">
        <label class="option">Monthly budget:</label >
        <input class="optionInput" type="text" [placeholder]="user.monthlyBudget" [(ngModel)]="changeMonthlyB">
    </div>
    <hr>
    <div class="data">
        <label class="option">Monthly spend:</label>
        <input class="optionInput" type="text" [placeholder]="user.monthlySpend" [(ngModel)]="changeMonthlyS" disabled>
    </div>
    <hr>
    <div class="data">
        <label class="option">Preferred currency:</label>
        <select class="optionInput" [(ngModel)]="changePreferredC">
            <option value="ARS">ARS</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
        </select>
    </div>
    <div id="ButtonContainer">
        <button id="changeData" (click)="changeDataUser()">Save changes</button>
    </div>
</div>