<div class="aside">
  <hr id="topDivider">
  <div class="item" id="logo">
    <img class="icon" src="./../../assets/icons/logo.png" width="100px" alt="No image" />
    <div class="text">CashWise</div>
  </div>
  <hr id="mainDivider">
  <hr>
  <div class="item" (click)="routeTo('home')">
    <img class="icon" src="./../../assets/icons/1home.png" width="100px" alt="No image" />
    <div class="text">Home</div>
  </div>
  <hr>
  <div class="item" (click)="routeTo('details')">
    <img class="icon" src="./../../assets/icons/2details.png" width="100px" alt="No image" />
    <div class="text">Transfer Details</div>
  </div>
  <hr>
  <div class="item" (click)="routeTo('futurePay')"> 
    <img class="icon" src="./../../assets/icons/3futurePay.png" width="100px" alt="No image" />
    <div class="text">Future Payments</div>
  </div>
  <hr>
  <div class="item" (click)="routeTo('profile')">
    <img class="icon" src="./../../assets/icons/4profile.png" width="100px" alt="No image" />
    <div class="text">Profile</div>
  </div>
  <hr>
  <div class="item" id="logOut" (click)="routeTo('')">
    <img class="icon" src="./../../assets/icons/8logOut.png" width="100px" alt="No image" />
    <div class="text">Log out</div>
  </div>
</div>
