<div class="aside">
  <hr id="topDivider">
  <div class="item" id="logo">
    <img class="icon" src="./../../assets/icons/0logo.png" width="100px" alt="No hay imagen xd" />
    <div class="text">CashWise</div>
  </div>
  <hr id="mainDivider">
  <hr>
  <div class="item" (click)="routeTo('home')">
    <img class="icon" src="./../../assets/icons/1home.png" width="100px" alt="No hay imagen xd" />
    <div class="text">Home</div>
  </div>
  <hr>
  <div class="item" (click)="routeTo('details')">
    <img class="icon" src="./../../assets/icons/2details.png" width="100px" alt="No hay imagen xd" />
    <div class="text">Details</div>
  </div>
  <hr>
  <div class="item">
    <img class="icon" src="./../../assets/icons/3settings.png" width="100px" alt="No hay imagen xd" />
    <div class="text">Settings</div>
  </div>
  <hr>
  <div class="item" (click)="routeTo('profile')">
    <img class="icon" src="./../../assets/icons/4profile.png" width="100px" alt="No hay imagen xd" />
    <div class="text">Profile</div>
  </div>
  <hr>
</div>
