.aside{
    width: 4rem;
    height: 100vh;
    box-sizing: border-box;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-top: none;
    background-color: #141414;
    color: #86c232;
    transition: ease-in-out 0.3s;
    overflow: hidden;
    font-weight: bolder;
    float: left;
}

.aside:hover{
    width: 13.5rem;
}

.aside:hover > .item > .text{
    opacity: 1;
    margin-left: 0;
}

hr{
    height: 0.03rem;
    color: #86c232;
    opacity: 100%;
    border-top: #86c232;
    border-color: #86c232;
    border-right: #141414;
    border-left: #141414;
    border-bottom: none;
    border-radius: 0.01rem;
    margin-bottom: 0rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0;
}

#topDivider{
    margin-bottom: 1rem;
}

#mainDivider{
    height: 0.03rem;
    color: #86c232;
    opacity: 100%;
    border-top: solid;
    border-color: #86c232;
    border-bottom: none;
    border-radius: 0.01rem;
    margin-bottom: 0rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: none;
}

.item{
    display: flex;
    align-items: center;
    /*margin: 20px 0;*/
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    
    

}

.item .icon{
    width: 2rem;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
    flex-shrink: 0;
    fill: #424242;
    
}

.item:not(#logo):hover{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.item:not(#logo):hover > .icon{
    width: 2.5rem;
    height: 2.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    transition: smooth 0.3s;
    
}

.item:hover > hr{
    margin-bottom: 0rem;
}

.item .text{
    opacity: 0;
    transition: ease-in-out 0.3;
    transition-delay: .2s;
    margin-left: 15px;
    white-space: nowrap;
}

#logo{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 125%;

}

#logo .icon{
    width: 2.5rem;
    height: 2.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

#logOut {
    position: absolute;
    bottom: 0;
}



/*   #divImage{
    height: 100%;
    width: 4rem;
    transition: width ease-in-out 0.3s;
    
} 


  

#divImage img{
    height: 100%;
    overflow-x:hidden;
} 

.aside:hover #divImage {
    width: 13.5rem;
} */

#divImage {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    transition: width ease-in-out 0.3s;
  }
  
  #divImage img {
    width: 100px; height: auto; 
  }
  
  .aside:hover {
    width: 13.5rem;
  }