<div class="aside">
  <hr id="topDivider">
  <div class="item" id="logo">
    <img class="icon" src="./../../assets/icons/greenLogo.png" width="100px" alt="No image" />
    <div class="text">CashWise</div>
  </div>
  <hr id="mainDivider">
  <hr>
  <div class="item" (click)="routeTo('home')">
    <img class="icon" src="./../../assets/icons/1homeGreen.png" width="100px" alt="No image" />
    <div class="text">Home</div>
  </div>
  <hr>
  <div class="item" (click)="routeTo('details')">
    <img class="icon" src="./../../assets/icons/2detailsGreen.png" width="100px" alt="No image" />
    <div class="text">Transfer Details</div>
  </div>
  <hr>
  <div class="item" (click)="routeTo('futurePay')"> 
    <img class="icon" src="./../../assets/icons/3futurePayGreen.png" width="100px" alt="No image" />
    <div class="text">Future Payments</div>
  </div>
  <hr>
  <div class="item" (click)="routeTo('profile')">
    <img class="icon" src="./../../assets/icons/4profileGreen.png" width="100px" alt="No image" />
    <div class="text">Profile</div>
  </div>
  <hr>
  <div id="divImage">
    <img src="./../../assets/icons/background-pattern.png" alt="No image">
  </div>
<hr>
  <div class="item" id="logOut" (click)="routeTo('')">
    <img class="icon" src="./../../assets/icons/8logOutGreen.png" width="100px" alt="No image" />
    <div class="text">Log out</div>
  </div>
</div>