  #container {
  position: absolute;
  height: 45vw;
  width: 40vw;
  background-color: #272927;
  border-radius: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  justify-content: center;
  color: #667972;
  font-weight: bold;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  grid-template-areas:
    'budgetData'
    'transferData';
  grid-template-columns: 1fr; /* Una columna para budgetData */
  grid-template-rows: auto auto;
  /* Tres filas automáticas para budgetData, transferData y graphData */
  grid-gap: 10px; /* Espacio entre las celdas */
}


.budgetData {
  background-color: #222423;
  height: 8vw;
  width: 35vw;
  border-radius: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-area: budgetData;
  align-self: center;
  justify-self: center;
}

.transferData {
  background-color: #222423;
  height: 31vw;
  width: 20vw;
  border-radius: 1.5rem;
  margin-top: 1.25rem;
  grid-area: transferData;
  width: 48%;
}

.graphData {
  background-color: #222423;
  height: 31vw;
  width: 12.5vw;
  border-radius: 1.5rem;
  margin-top: 1.25rem;
  grid-area: transferData;
  width: 48%;
  justify-self: end;
}

.budgetAndSpend {
  display: flex;
  flex-direction: column;
  width: 25vw;
  justify-content: space-around;
  align-items: end;
  padding: none;
  margin: none;
}

#remainingBudget {
  width: 25vw;
  font-size: 4rem;
}

#monthlyBudget {
  padding: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

#monthlySpend {
  padding: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

#minus {
  padding: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
  align-self: center;
  justify-content: center;
}

#equals {
}

.monthly {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
}

.monthly h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  justify-content: center;
}


.transferData {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.transactionList {
  list-style: none;
  padding: 0rem;
}

.transactionItem{
    width: 18vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.newTransaction{
    background-color: #222423;
    color: #667972;
    border: none;
    
}  
