  #container {
  position: absolute;
  height: 45vw;
  width: 40vw;
  background-color: #272927;
  border-radius: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  justify-content: center;
  color: #667972;
  font-weight: bold;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  grid-template-areas:
    'budgetData'
    'transferData';
  grid-template-columns: 1fr; /* Una columna para budgetData */
  grid-template-rows: auto auto;
  /* Tres filas automáticas para budgetData, transferData y graphData */
  grid-gap: 10px; /* Espacio entre las celdas */
}


.budgetData {
  background-color: #222423;
  color: #d0d7d0;
  height: 8vw;
  width: 35vw;
  border-radius: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-area: budgetData;
  align-self: center;
  justify-self: center;
}

.transferData {
  background-color: #222423;
  height: 31vw;
  width: 20vw;
  border-radius: 1.5rem;
  margin-top: 1.25rem;
  grid-area: transferData;
  width: 48%;
}

.graphData {
  background-color: #222423;
  height: 31vw;
  width: 12.5vw;
  border-radius: 1.5rem;
  margin-top: 1.25rem;
  grid-area: transferData;
  width: 48%;
  justify-self: end;
}

.budgetAndSpend {
  display: flex;
  flex-direction: column;
  width: 25vw;
  justify-content: space-around;
  align-items: end;
  padding: none;
  margin: none;
}

#remainingBudget {
  width: 25vw;
  font-size: 4rem;
}

#monthlyBudget {
  padding: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

#monthlySpend {
  padding: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

#minus {
  padding: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
  align-self: center;
  justify-content: center;
}

.monthly {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
}

.monthly h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  justify-content: center;
}

.transferData {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.transactionList {
  list-style: none;
  width: 100%;
  padding: 0rem;
  margin: 0rem;
  border-top: 1px solid #3d4b46;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  
}

.transactionList::-webkit-scrollbar{
  background: #272927;
  width: 0.5rem;
  border-radius: 3px;
}

.transactionList::-webkit-scrollbar-thumb{
  appearance: none;
  background-color: #667972;
  border-radius: 3px;
}

.transactionItem{
  color: #d0d7d0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #667972;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

#transferDesc{
  margin: 0rem;
  padding-left: 0.5rem;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transferOperator{
  margin: 0rem;
}

#transferNumber{
  margin: 0rem;
  padding-right: 0.5rem;
}

#transferAmount{
  margin: 0rem;
  display: flex;
  flex-direction: row;
}

#newTransaction{
  background-color: #222423;
  color: #d0d7d0;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border: none;
}  

#newTransaction:hover{
  font-size: 1.3rem;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
}

#newTransaction:active{
  background-color: #1e1f1e;
}

#transactionForm{
  display: flex;
  flex-direction: column;
  color: #d0d7d0;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #667972;
  padding-top: 0.5rem;
}

#transactionForm input{
  background-color: #222423;
  border-radius: 1rem;
  color: #d0d7d0;
  width: 80%;
  border: solid;
  border-width: 1px;
  border-color: #667972;
  margin: 0.5rem;
  outline: none;
}

#transactionForm select{
  background-color: #222423;
  border-radius: 1rem;
  color: #d0d7d0;
  appearance: none;
  text-align: center;
  box-shadow: none;
  width: 82%;
  border: solid;
  border-width: 1px;
  border-color: #667972;
  margin: 0.5rem;
  outline: none;
}

#addTransaction{
  background-color: #222423;
  color: #d0d7d0;
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  width: 100%;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-top: 1px solid #667972;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
    
}

#addTransaction:hover{
  font-size: 1.2rem;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
}

#addTransaction:active{
  background-color: #1e1f1e;
}