<section id="container">
  <section class="budgetData">
    <section class="budgetAndSpend">
      <div class="monthly">
        <p id="monthlyBudget">Monthly Budget: {{ user.monthlyBudget }}</p>
      </div>

      <h2 id="minus">-</h2>
      <div class="monthly">
        <p id="monthlySpend">Monthly Spend: {{ user.monthlySpend }}</p>
      </div>
    </section>


    <h2 id="equals">=</h2>
    <div id="remainingBudget">
      <h1>{{ calculateRemaining() }}</h1>
    </div>
  </section>

  <section class="transferData">
    <button id="newTransaction" (click)="changeContainer()">{{textoBTrans}}</button>
    <ul class="transactionList" *ngIf="!showForm">
      <li class="transactionItem" *ngFor="let t of user.transactions">
        <p id="transferDesc">{{t.description}}</p>
        <div id="transferAmount">
          <p class="transferOperator" *ngIf="t.type === 'income'">+</p>
          <p class="transferOperator" *ngIf="t.type === 'outcome'">-</p>
          <p id="transferNumber">{{t.amount}}</p>
        </div>
      </li>
    </ul>
    <form id="transactionForm" #transactionForm="ngForm" (ngSubmit)="addTransaction()" *ngIf="showForm">
      <label for="type">Type:</label>
      <select name="type" id="type" [(ngModel)]="transType" (click)="changeParticipant()" required>
        <option value="income">Income</option>
        <option value="outcome">Outcome</option>
      </select>
      <label for="description">Description:</label>
      <input type="text" id="description" [(ngModel)]="transDescp" name="description" required>
      <label for="amount">Amount:</label>
      <input type="number" name="amount" id="amount" [(ngModel)]="transAmount" name="amount" required>
      <label for="date">Date:</label>
      <input type="date" id="date" [(ngModel)]="transDate" name="date" required>
      <label for="category">Category:</label>
      <select name="category" id="category" [(ngModel)]="transCat">
        <option value="market">Market</option>
        <option value="services">Servicies</option>
        <option value="shopping">Shopping</option>
        <option value="transport">Transport</option>
        <option value="gastronomy">Gastronomy</option>
        <option value="tourism">Tourism</option>
        <option value="noCategory" selected>Others</option>
      </select>
      <label for="participant">{{participant}}</label>
      <input type="text" id="participant" [(ngModel)]="transParticipant" name="participant"> 
      <label for="comment">Comments:</label>
      <input type="text" id="comment" [(ngModel)]="transComm" name="comment">
      <button type="submit" id="addTransaction">Add</button>
    </form>
  </section>
  
  <section class="graphData">

  </section>
</section>

<app-notifications></app-notifications>
