  #container {
  position: absolute;
  height: 80%;
  width: 40vw;
  background-color: #141414;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  justify-content: center;
  color: #86c232;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-top: 0rem;
  margin-bottom: 3rem;
  grid-template-areas:
    'budgetData'
    'transferData';
  grid-template-columns: 1fr; /* Una columna para budgetData */
  grid-template-rows: 20% 80%;
  /* Tres filas automáticas para budgetData, transferData y graphData */
  grid-gap: 10px; /* Espacio entre las celdas */
}


.budgetData {
  background-color: #161616;
  color: #d0d7d0;
  height: 8vw;
  width: 35vw;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-area: budgetData;
  align-self: center;
  justify-self: center;
}

.transferData {
  background-color: #161616;
  height: 95%;
  border-radius: 1rem;
  margin-top: 1.25rem;
  grid-area: transferData;
  width: 48%;
  margin-bottom: 2.5rem;
}

.graphData {
  background-color: #161616;
  height: 95%;
  border-radius: 1rem;
  margin-top: 1.25rem;
  grid-area: transferData;
  width: 48%;
  justify-self: end;
  margin-bottom: 2.5rem;
}

.budgetAndSpend {
  display: flex;
  flex-direction: column;
  width: 25vw;
  justify-content: space-around;
  align-items: end;
  padding: none;
  margin: none;
}

#remainingBudget {
  width: 25vw;
  font-size: 4rem;
}

#remainingBudget h1{
  font-weight: 400;
  color: #86c232;
}

#monthlyBudget {
  padding: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

#monthlySpend {
  padding: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

#minus {
  padding: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
  align-self: center;
  justify-content: center;
}

.monthly {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
}

.monthly h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  justify-content: center;
}

.transferData {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.transactionList {
  list-style: none;
  width: 100%;
  padding: 0rem;
  margin: 0rem;
  border-top: 1px solid #fff;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  
}

.transactionList::-webkit-scrollbar{
  background: #161616;
  width: 0.5rem;
  border-radius: 3px;
}

.transactionList::-webkit-scrollbar-thumb{
  appearance: none;
  background-color: #86c232;
  border-radius: 3px;
}

.transactionItem{
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

#transferDesc{
  margin: 0rem;
  padding-left: 0.5rem;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transferOperator{
  margin: 0rem;
}

#transferNumber{
  margin: 0rem;
  padding-right: 0.5rem;
}

#transferAmount{
  margin: 0rem;
  display: flex;
  flex-direction: row;
}

#newTransaction{
  background-color: #161616;
  color: #86c232;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: none;
}  

#newTransaction:hover{
  font-size: 0.95rem;
  padding-top: 0.525rem;
  padding-bottom: 0.525rem;
}

#newTransaction:active{
  background-color: #1d1d1d;
}

#transactionForm{
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #fff;
  padding-top: 0.5rem;
  overflow-y: auto;
}

#transactionForm::-webkit-scrollbar{
  background: #161616;
  width: 0.5rem;
  border-radius: 3px;
}

#transactionForm::-webkit-scrollbar-thumb{
  appearance: none;
  background-color: #86c232;
  border-radius: 3px;
}

#transactionForm input{
  text-align: center;
  background-color: #161616;
  border-radius: 1rem;
  color: #fff;
  width: 80%;
  border: solid;
  border-width: 1px;
  border-color: #fff;
  margin: 0.5rem;
  outline: none;
  padding: 0.5rem;
}

#transactionForm input:hover {
  transform: scale(101%);
}

#transactionForm input:focus {
  border-color: #86c232;
}

#transactionForm select{
  background-color: #141414;
  border-radius: 1rem;
  color: #fff;
  appearance: none;
  text-align: center;
  box-shadow: none;
  width: 82%;
  border: solid;
  border-width: 1px;
  border-color: #fff;
  margin: 0.5rem;
  outline: none;
  padding: 0.5rem;
}

#transactionForm select:hover {
  transform: scale(101%);
}

#transactionForm select:focus {
  border-color: #86c232;
}

#addTransaction{
  background-color: #141414;
  color: #86c232;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  width: 100%;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-top: 1px solid #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
    
}

#addTransaction:hover{
    font-size: 0.95rem;
    padding-top: 0.525rem;
    padding-bottom: 0.525rem;
}

#addTransaction:active{
  background-color: #1d1d1d;
}

#date::-webkit-calendar-picker-indicator {
  background-color: transparent;
  color: #fff;
}

#date::-webkit-calendar-picker-indicator::-webkit-calendar-event {
  background-color: #141414;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 1rem;
}