<section id="container">
  <section class="budgetData">
    <section class="budgetAndSpend">
      <table id="monthly">
        <tr class="monthlyRow">
          <td class="monthlyText">Monthly Budget:</td>
          <td class="monthlyNumber">+ {{ user.monthlyBudget }}</td>
        </tr>
        <tr class="monthlyRow">
          <td class="monthlyText">Monthly Spend:</td>
          <td class="monthlyNumber">- {{ monthlySpend }}</td>
        </tr>
        <tr class="monthlyRow">
          <td class="monthlyText">Monthly remaining:</td>
          <td class="monthlyNumber">= {{ monthlyRemaining }}</td>
        </tr>
      </table>
    </section>

    <div id="remainingBudget">
      <h1>{{ calculateRemaining() }}</h1>
    </div>
  </section>

  <section class="transferData">
    <button id="newTransaction" (click)="changeContainer()">{{textoBTrans}}</button>
    <div id="transactionListContainer">
      <ul class="transactionList" *ngIf="!showForm">
        <li class="transactionItem" *ngFor="let t of user.transactions">
          <p id="transferDesc">{{t.description}}</p>
          <div id="transferAmount">
            <p class="transferOperator" *ngIf="t.type === 'income'">+</p>
            <p class="transferOperator" *ngIf="t.type === 'outcome'">-</p>
            <p id="transferNumber">{{t.amount}}</p>
          </div>
        </li>
      </ul>
    </div>
    <form id="transactionForm" #transactionForm="ngForm" (ngSubmit)="addTransaction()" *ngIf="showForm">
      <label for="type">Type:</label>
      <select name="type" id="type" [(ngModel)]="transType" (click)="changeParticipant()" required>
        <option value="income">Income</option>
        <option value="outcome">Outcome</option>
      </select>
      <label for="description">Description:</label>
      <input type="text" id="description" [(ngModel)]="transDescp" name="description" required>
      <label for="amount">Amount:</label>
      <input type="number" name="amount" id="amount" [(ngModel)]="transAmount" min="1" name="amount" required>
      <label for="date">Date:</label>
      <input type="date" id="date" [(ngModel)]="transDate" name="date" max="{{ getCurrentDate() | date:'yyyy-MM-dd' }}" [min]="getLeastDate()" required>
      <label for="category">Category:</label>
      <select name="category" id="category" [(ngModel)]="transCat">
        <option value="market">Market</option>
        <option value="services">Services</option>
        <option value="shopping">Shopping</option>
        <option value="transport">Transport</option>
        <option value="gastronomy">Gastronomy</option>
        <option value="tourism">Tourism</option>
        <option value="others" selected>Others</option>
      </select>
      <label for="participant">{{participant}}</label>
      <input type="text" id="participant" [(ngModel)]="transParticipant" name="participant"> 
      <label for="comment">Comments:</label>
      <input type="text" id="comment" [(ngModel)]="transComm" name="comment">
      <button type="submit" id="addTransaction">Add</button>
    </form>
  </section>
  
  <section class="graphData">
    <div id="chartContainer">
      <canvas id="pieChart" width="128px" height="128px"></canvas>
    </div>
    <table id="legendTable">
      <tr class="legendRow">
        <td class="legendColor">
          <img src="./../../assets/icons/market.png">
          <p>Market</p>
        </td>
        <td class="legendPercentage">
          <p>{{shortPercentage(perMarket)}}%</p>
        </td>
      </tr>
      <tr class="legendRow">
        <td class="legendColor">
          <img src="./../../assets/icons/services.png">
          <p>Services</p>
        </td>
        <td class="legendPercentage">
          <p>{{shortPercentage(perServices)}}%</p>
        </td>
      </tr>
      <tr class="legendRow">
        <td class="legendColor">
          <img src="./../../assets/icons/shopping.png">
          <p>Shopping</p>
        </td>
        <td class="legendPercentage">
          <p>{{shortPercentage(perShopping)}}%</p>
        </td>
      </tr>
      <tr class="legendRow">
        <td class="legendColor">
          <img src="./../../assets/icons/transport.png">
          <p>Transport</p>
        </td>
        <td class="legendPercentage">
          <p>{{shortPercentage(perTransport)}}%</p>
        </td>
      </tr>
      <tr class="legendRow">
        <td class="legendColor">
          <img src="./../../assets/icons/gastronomy.png">
          <p>Gastronomy</p>
        </td>
        <td class="legendPercentage">
          <p>{{shortPercentage(perGastronomy)}}%</p>
        </td>
      </tr>
      <tr class="legendRow">
        <td class="legendColor">
          <img src="./../../assets/icons/tourism.png">
          <p>Tourism</p>
        </td>
        <td class="legendPercentage">
          <p>{{shortPercentage(perTourism)}}%</p>
        </td>
      </tr>
      <tr class="legendRow">
        <td class="legendColor">
          <img src="./../../assets/icons/others.png">
          <p>Others</p>
        </td>
        <td class="legendPercentage">
          <p>{{shortPercentage(perOthers)}}%</p>
        </td>
      </tr>
    </table>
  </section>
</section>

<app-notifications></app-notifications>
