
*{
    color: #d0d7d0;
}

#container {
    position: absolute;
    height: 45vw;
    width: 40vw;
    background-color: #272927;
    border-radius: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#buttonContainer{
    display: flex;
    justify-content:space-around;
    height: 3rem;
}

.selectionButton{
    height: 100%;
    width: 50%;
    border: none;
    background-color: #272927;
    font-size: 1.2rem;
    font-weight: bold;
}

#incomeButton{
    border-top-left-radius: 1rem;
}

#incomeButton:hover{
    font-size: 1.3rem;
}

#outcomeButton{
    border-top-right-radius: 1rem;
}

#outcomeButton:hover{
    font-size: 1.3rem;
}

.buttonOn{
    background-color: #1e1f1e;    
}

#listContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#transfersList{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0rem;
    width: 100%;
    border-top: 1px solid #d0d7d0;
    margin: 0rem;
}
#outcomeList{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0rem;
    width: 100%;
    border-top: 1px solid #d0d7d0;
    margin: 0rem;
}

#incomeList{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0rem;
    width: 100%;
    border-top: 1px solid #d0d7d0;
    margin: 0rem;
}

.transferItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #d0d7d0;
    width: 100%;
}

.transferItem p {
    width: 20%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.transferItem h4 {
    width: 20%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.transferItem:hover {
    background-color: #1e1f1e;
}

.expandTransfer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.expandTransfer .description {
    order: 0;
    font-size: 1.25rem;
    font-weight: bold;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.expandTransfer .date {
    order: 1;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.expandTransfer .amount {
    order: 5;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.expandTransfer .category {
    order: 2;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.expandTransfer .comment {
    order: 3;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.expandTransfer .dateT {
    order: 0;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.expandTransfer .categoryT {
    order: 1;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.expandTransfer .commentT {
    order: 2;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.ocultTransfer {
    display: none;
}


