<div id="container" *ngIf="isData">
    <section id="transferList">
        <section id="buttonContainer">
            <button id="incomeButton" class="selectionButton" [ngClass]="{'buttonOn':incomeButtonOn}" (click)="clickOnIncome()">Income</button>
            <button id="outcomeButton" class="selectionButton" [ngClass]="{'buttonOn':outcomeButtonOn}" (click)="clickOnOutcome()">Outcome</button>
        </section>
        <section id="listContainer">
            <ul id="transfersList" *ngIf="incomeButtonOn == false && outcomeButtonOn == false">
                <li class="transferItem" [ngClass]="{'expandTransfer': clickedIndex === i}" *ngFor="let t of user.transactions; let i = index" (click)="expandTransfer(i)">
                    <p class="date">{{t.date}}</p>
                    <h4 class="description">{{t.description}}</h4>
                    <p class="amount">{{user.preferredCurrency}}: {{t.amount}}</p>
                    <p class="category" *ngIf="clickedIndex === i">{{t.category}}</p>
                    <p class="comment" *ngIf="clickedIndex === i">{{t.comment}}</p>
                    <p class="dateT" *ngIf="clickedIndex === i">Fecha:</p>
                    <p class="categoryT" *ngIf="clickedIndex === i">Category:</p>
                    <p class="commentT" *ngIf="clickedIndex === i">Comment:</p>
                </li>
            </ul>
            <ul id="incomeList" *ngIf="incomeButtonOn">
                <li class="transferItem" [ngClass]="{'expandTransfer': clickedIndex === i}" *ngFor="let t of incomeList; let i = index" (click)="expandTransfer(i)">
                    <p class="date">{{t.date}}</p>
                    <h4 class="description">{{t.description}}</h4>
                    <p class="amount">{{user.preferredCurrency}}: {{t.amount}}</p>
                    <p class="category" *ngIf="clickedIndex === i">{{t.category}}</p>
                    <p class="comment" *ngIf="clickedIndex === i">{{t.comment}}</p>
                    <p class="dateT" *ngIf="clickedIndex === i">Fecha:</p>
                    <p class="categoryT" *ngIf="clickedIndex === i">Category:</p>
                    <p class="commentT" *ngIf="clickedIndex === i">Comment:</p>
                </li>
            </ul>
            <ul id="outcomeList" *ngIf="outcomeButtonOn">
                <li class="transferItem" [ngClass]="{'expandTransfer': clickedIndex === i}" *ngFor="let t of outcomeList; let i = index" (click)="expandTransfer(i)">
                    <p class="date">{{t.date}}</p>
                    <h4 class="description">{{t.description}}</h4>
                    <p class="amount">{{user.preferredCurrency}}: {{t.amount}}</p>
                    <p class="category" *ngIf="clickedIndex === i">{{t.category}}</p>
                    <p class="comment" *ngIf="clickedIndex === i">{{t.comment}}</p>
                    <p class="dateT" *ngIf="clickedIndex === i">Fecha:</p>
                    <p class="categoryT" *ngIf="clickedIndex === i">Category:</p>
                    <p class="commentT" *ngIf="clickedIndex === i">Comment:</p>
                </li>
            </ul>
        </section>
    </section>
</div>
