
*{
    color: #fff;
}

#container {
    position: absolute;
    height: 45vw;
    width: 40vw;
    background-color: #141414;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#buttonContainer{
    display: flex;
    justify-content:space-around;
    height: 2vw;
    border-bottom: 1px solid #fff;
}

.selectionButton{
    background-color: #141414;
    color: #86c232;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
      
  }
  
  .selectionButton:hover{
    font-size: 0.95rem;
    padding-top: 0.525rem;
    padding-bottom: 0.525rem;
  }
  
  .selectionButton:active{
    background-color: #1d1d1d;
  }


#incomeButton{
    border-top-left-radius: 1rem;
}


#outcomeButton{
    border-top-right-radius: 1rem;
}

.buttonOn{
    background-color: #1d1d1d;    
}

#exportContainer{
    display: flex;
    justify-content:center;
    height: 2vw;
    border-top: 1px solid #fff;
}

#exportButton{
    background-color: #141414;
    color: #86c332;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

#exportButton:hover{
    font-size: 0.95rem;
    padding-top: 0.525rem;
    padding-bottom: 0.525rem;
  }
  
#exportButton:focus{
    background-color: #1d1d1d;
  }

#listContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.list {
    overflow-y: auto;
    max-height: 41vw;
}


.list::-webkit-scrollbar{
    background: #141414;
    width: 0.5rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;

  }
  
.list::-webkit-scrollbar-thumb{
    appearance: none;
    background-color: #86c232;
    border-radius: 2rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }

#transfersList{
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    padding: 0rem;
    width: 100%;
    margin: 0rem;
    

}

#outcomeList{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0rem;
    width: 100%;
    margin: 0rem;
}

#incomeList{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0rem;
    width: 100%;
    margin: 0rem;
}

.transferItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #fff;
    width: 100%;
}

.transferItem p {
    width: 20%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.transferItem h4 {
    width: 20%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.transferItem:hover {
    background-color: #1d1d1d;
}

.expandTransfer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.expandTransfer .description {
    order: 0;
    font-size: 1.25rem;
    font-weight: bold;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.expandTransfer .date {
    order: 1;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.expandTransfer .amount {
    order: 5;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.expandTransfer .category {
    order: 2;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.expandTransfer .comment {
    order: 3;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.expandTransfer .dateT {
    order: 0;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.expandTransfer .categoryT {
    order: 1;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.expandTransfer .commentT {
    order: 2;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.ocultTransfer {
    display: none;
}


